.productos {
    background-image: url(../assets/background5.jpg);

        .titulos1 {
            color: $negro;
            font-weight: bold;
            font-size: xx-large;
            text-align: center;
            text-decoration: underline;
            padding: 5%;
        }

        .parrafos{
            padding: 20px;
            color: $negro;
            background-color: $transparente;
            text-align: center;
            margin: 20px;
            font-size: larger;
        }

        .cards{
            display: grid;
            gap: 20px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-bottom: 10px;
            -webkit-animation:fade-in-left .6s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in-left .6s cubic-bezier(.39,.575,.565,1.000) both;

            @-webkit-keyframes fade-in-left{0%{-webkit-transform:translateX(-50px);transform:translateX(-50px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes fade-in-left{0%{-webkit-transform:translateX(-50px);transform:translateX(-50px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}

                .cards-productos {
                    display: flex;
                    flex-flow: column nowrap;
                    align-items: center;
                    @include tamano(250px, 450px);
                    border-radius: 20px;
                    background-color: $blanco;
                    overflow: hidden;
                    padding: 10px;

                        .cards-image {
                            background-color: $blanco;
                            margin: 10px;
                        }
                        
                        .cards-title {
                            position: static;
                            background-color: $blanco;
                            font-family: 'Poppins', sans-serif;
                            color: $negro;
                            overflow: hidden;
                        }
                        
                        .cards-description {
                            @extend .cards-title
                        }
                        
                        .btn-productos {
                            position: static;
                            width: 150px;
                            border-radius: 20px;
                            background-color: $verde;
                            text-align: center;
                            overflow: hidden;
                        }
                }
                
        }
}

.about {
    height: 100%;
    background-image: url(../assets/background3copia.JPG);
    background-size:cover;
    background-position-x: center;
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;
    align-items: center;
    padding: 10px;

        .titulos2 {
            @extend .titulos1;
            color: $blanco;
            text-decoration: underline;
            overflow: hidden;
        }

        .parrafoAbout{
            width: 70vw;
            background-color: $transparente;
            text-align: center;
            margin: 20px;
            font-size:medium;
            font-weight: bold;
            padding: 20px;
        }

        .fotos {
            height: 40%;
            width: 45%;
        }

}

.contenido__contacto {
    background-image: url(../assets/background2.JPG);
    background-size: cover;
    height: 90%;
    background-repeat: no-repeat;
    background-position-x: center;
    padding: 20px;
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;

        .titulos2 {
            font-weight: bold;
            font-size: xx-large;
            text-align: center;
            text-decoration: underline;
            padding: 20px;
            color: $blanco;
        }

        .form {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            color: $negro;
            background-color: $beige;
            height: 85%;
            padding: 30px;

            input {
                accent-color: $verde;
            }

            .article1 {
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                justify-content: space-around;
                justify-items: center;
                background-color:$negro-transparente;

                .form__datos {
                    display: flex;
                    flex-flow: column nowrap;
                    text-align: center;
                    align-items: center;
                    background-color:$negro-transparente;
                }
            }

            .form__mensaje {
                display: flex;
                flex-flow: column wrap;
                text-align: center;
                justify-content: space-around;
                align-items: center;
                background-color:$negro-transparente;

                .form__boxes {
                    display: flex;
                    flex-flow: row;
                    justify-content: center;
                    align-items: center;
                    background-color:$negro-transparente;
                }
            }

                .redesSociales {
                    display: flex;
                    flex-flow: row nowrap;
                    align-items:center;

                        .icono {
                            border-radius: 50%;
                        }

                        .instagram {
                            background-color: map-get($redes, instagram);
                            @include tamano(10%,5%);
                            margin-left: 85%;
                        }

                        .tiktok {
                            background-color: map-get($redes, tiktok );
                            @include tamano(10%,5%);
                            margin-right: 85%;
                        }
                }
        }
}

.faq {
    background-image: url(../assets/background4.JPG);
    background-size: cover;
    background-position-x: center;
    display: grid;
    justify-items: center;
    grid-template-areas: 
        "titulo titulo"
        "preguntas preguntas";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px 3fr;

        .titulos1 {
        grid-area: titulo;
        color: $negro;
        font-weight: bold;
        font-size: xx-large;
        text-align: center;
        text-decoration: underline;
        padding: 20px;
        }

        .preguntas {
            grid-area: preguntas;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 40px;
            color: $negro;
            background-color: $transparente;
            text-align: justify;
            margin: 20px;
            width: 70%;
            overflow: hidden;

            .subtitulos {
                text-align: center;
                overflow: hidden;
            }

            .tabla {
                table-layout: fixed;
                width: 60vw;
                border-collapse: collapse;
                border: 3px solid $verde;
                text-align: center,
            }

        }
    }