.footer {
    background-color: $negro;
    border-top-style: groove;
    color: $blanco;
    font-size: x-small;
    text-align: center;
    padding: 10px;
    height: 5%;
    width: 100%;
    list-style: none;
    overflow: hidden;
        .contenedor {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: baseline;
        
                .accesos {
                margin-left: 5px; 
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                }

                .copyright {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                }

                .redes {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                }
        }

}
