@media screen and (max-width: 768px) {
    .headerIndex {
        background-position: top;

        .promosIndex {
            overflow: hidden;
        }

        .promos {
            size: medium;
        }
        }

    .aboutIndex {
        background-position-y: center;
    }

    .about{
        flex-flow: column nowrap;
        align-items: center;

            .parrafoAbout{
                width:90%;
                height:80%;
            }

            .fotos {
                width: 90%;
            }
    }
    
    .tabla {
        width: 80%;
    }

    .instagram {
        display: none;
    }

    .tiktok {
        display: none;
    }

    .footer {
        height: 15vh;

            .copyright {
                width: 20%;
            }
    }
}