@media screen and (max-width: 768px) {
    .indexGridFonts{
        font-size: larger;
    }
    
    .promos{
        font-size: medium;
    }

    .parrafoAbout{
        height: 80vh;
        width: 100%;
    }
    .preguntas {
        font-size: small;
        width:90%;
        height:100%;
        margin-top: 0px;
    }
    .table {
        width: 80%;
    }

    .form__btns {
        flex-flow: column wrap;
    }

    .form__btn {
        display: flex;
        flex-direction: column;
        width: 80vw;
        height: 85vh;
    }
    
    .article1 {
        align-items: center;
    }
}