@media screen and (max-width: 768px) {
    .indexGridFonts{
        font-size: larger;
    }
    
    .promos{
        font-size: medium;
    }

    .about{
        flex-flow: column nowrap;
        align-items: center;
    }
    
    .parrafoAbout{
        width:90%;
        height:80%;
    }
    
    .tabla {
        width: 80%;
    }

    .article1 {
        align-items: center;
    }

    .form__btns {
        flex-flow: column wrap;
    }

    .form__btn {
        display: flex;
        flex-direction: column;
        height: 85vh;
    }

    .footer {
        height: 10vh;
    }
}