$negro: #000;
$blanco: #ffffff;
$verde: #42b877;
$verdeClaro: #8ecaa9;
$transparente: #ffffffc5;
$negro-transparente: #faebd700;
$beige: #faebd783;

$redes: (
    instagram: #ca5bceb9,
    tiktok:#ffffffc6,
);

@mixin tamano($width, $height) {
    width: $width;
    height: $height;
}