* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden; }

.headerIndex {
  background-image: url(../assets/DSC_24902.JPG);
  background-size: cover;
  height: 100vh;
  background-position-x: center;
  overflow: hidden; }
  .headerIndex .promos {
    background-color: #42b877;
    color: #ffffff;
    text-align: center;
    height: 5vh;
    font-size: auto; }
  .headerIndex .logoIndex {
    height: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto; }

.ul {
  list-style: none;
  height: 50vh;
  width: 100vw;
  padding: 0;
  margin-bottom: 0; }
  .ul .productosIndex {
    background-image: url(../assets/productos.png);
    background-size: cover;
    background-position-x: center; }
    .ul .productosIndex .indexGridFonts {
      color: #ffffff;
      background-color: #faebd700;
      font-family: 'Poppins', sans-serif;
      font-weight: bolder;
      font-size: xx-large;
      text-transform: uppercase;
      text-decoration: none; }
      .ul .productosIndex .indexGridFonts:hover {
        color: #42b877; }
    .ul .productosIndex:hover {
      transform: scaleX(1.2); }
  .ul .aboutIndex {
    text-align: center;
    background-image: url(../assets/about2.png);
    background-size: cover;
    background-position-x: center; }
    .ul .aboutIndex .indexGridFonts {
      color: #ffffff;
      background-color: #faebd700;
      font-family: 'Poppins', sans-serif;
      font-weight: bolder;
      font-size: xx-large;
      text-transform: uppercase;
      text-decoration: none; }
      .ul .aboutIndex .indexGridFonts:hover {
        color: #42b877; }
    .ul .aboutIndex:hover {
      transform: scaleX(1.2); }
  .ul .contactoIndex {
    text-align: center;
    background-image: url(../assets/contacto.png);
    background-size: cover;
    background-position-x: center; }
    .ul .contactoIndex .indexGridFonts {
      color: #ffffff;
      background-color: #faebd700;
      font-family: 'Poppins', sans-serif;
      font-weight: bolder;
      font-size: xx-large;
      text-transform: uppercase;
      text-decoration: none; }
      .ul .contactoIndex .indexGridFonts:hover {
        color: #42b877; }
    .ul .contactoIndex:hover {
      transform: scaleX(1.2); }
  .ul .faqIndex {
    text-align: center;
    background-image: url(../assets/faq.png);
    background-size: cover;
    background-position-x: center;
    background-position-y: center; }
    .ul .faqIndex .indexGridFonts {
      color: #ffffff;
      background-color: #faebd700;
      font-family: 'Poppins', sans-serif;
      font-weight: bolder;
      font-size: xx-large;
      text-transform: uppercase;
      text-decoration: none; }
      .ul .faqIndex .indexGridFonts:hover {
        color: #42b877; }
    .ul .faqIndex:hover {
      transform: scaleX(1.2); }

.promos {
  background-color: #42b877;
  color: #ffffff;
  text-align: center;
  height: 5vh;
  font-size: auto;
  margin-bottom: 0; }

.nav {
  font-size: x-large; }
  .nav .logo {
    width: 50%; }

.productos {
  background-image: url(../assets/background5.jpg); }
  .productos .titulos1, .productos .about .titulos2, .about .productos .titulos2 {
    color: #000;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    text-decoration: underline;
    padding: 20px; }
  .productos .parrafos {
    padding: 20px;
    color: #000;
    background-color: #ffffffc5;
    text-align: center;
    margin: 20px;
    font-size: larger; }
  .productos .cards {
    display: grid;
    gap: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 10px; }
    .productos .cards .cards-productos {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      width: 250px;
      height: 450px;
      border-radius: 20px;
      background-color: #ffffff;
      overflow: hidden;
      padding: 10px; }
      .productos .cards .cards-productos .cards-image {
        background-color: #ffffff;
        margin: 10px; }
      .productos .cards .cards-productos .cards-title, .productos .cards .cards-productos .cards-description {
        position: static;
        background-color: #ffffff;
        font-family: 'Poppins', sans-serif;
        color: #000;
        overflow: hidden; }
      .productos .cards .cards-productos .btn-productos {
        position: static;
        width: 150px;
        border-radius: 20px;
        background-color: #42b877;
        text-align: center;
        overflow: hidden; }

.about {
  height: 100vh;
  background-image: url(../assets/background3.JPG);
  background-size: cover;
  background-position-x: center;
  display: flex;
  flex-flow: column wrap;
  align-content: space-around; }
  .about .titulos2 {
    color: #ffffff;
    text-align: center;
    text-decoration: underline;
    height: 15%;
    padding: 30px; }
  .about .parrafoAbout {
    width: 70vw;
    background-color: #ffffffc5;
    text-align: center;
    margin: 20px;
    font-size: medium;
    font-weight: bold;
    padding: 20px; }

.contenido__contacto {
  background-image: url(../assets/background2.JPG);
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  background-position-x: center;
  padding: 20px;
  display: flex;
  flex-flow: column wrap;
  align-content: space-around; }
  .contenido__contacto .titulos2 {
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    text-decoration: underline;
    padding: 20px;
    color: #ffffff; }
  .contenido__contacto .form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    color: #000;
    background-color: #faebd783;
    height: 85%;
    width: 70%;
    padding: 50px; }
    .contenido__contacto .form .article1 {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: space-around;
      justify-items: center;
      background-color: #faebd700; }
      .contenido__contacto .form .article1 .form__datos {
        display: flex;
        flex-flow: column nowrap;
        text-align: center;
        align-items: center;
        background-color: #faebd700; }
    .contenido__contacto .form .form__mensaje {
      display: flex;
      flex-flow: column wrap;
      text-align: center;
      justify-content: space-around;
      align-items: center;
      background-color: #faebd700; }
      .contenido__contacto .form .form__mensaje .form__boxes {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        background-color: #faebd700; }
      .contenido__contacto .form .form__mensaje .form__btns {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 30%; }
        .contenido__contacto .form .form__mensaje .form__btns .form__btn {
          width: 15vw;
          height: 5vh;
          border-radius: 5px;
          letter-spacing: 2px;
          transition: all 0.5s ease;
          overflow: hidden; }
          .contenido__contacto .form .form__mensaje .form__btns .form__btn:hover {
            background: #42b877;
            color: #000;
            box-shadow: 0px 10px 25px #8ecaa9; }
      .contenido__contacto .form .form__mensaje .redesSociales {
        display: flex;
        flex-flow: row nowrap;
        align-items: center; }
        .contenido__contacto .form .form__mensaje .redesSociales .icono {
          border-radius: 50%; }
        .contenido__contacto .form .form__mensaje .redesSociales .instagram {
          background-color: #e37cea;
          width: 10%;
          height: 8%;
          margin-left: 65%; }
        .contenido__contacto .form .form__mensaje .redesSociales .tiktok {
          background-color: #ffffffc6;
          width: 10%;
          height: 8%;
          margin-right: 65%; }

.faq {
  background-image: url(../assets/background4.JPG);
  background-size: cover;
  background-position-x: center;
  display: grid;
  justify-items: center;
  grid-template-areas: "titulo titulo" "preguntas preguntas";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100px 3fr; }
  .faq .titulos1, .faq .about .titulos2, .about .faq .titulos2 {
    grid-area: titulo;
    color: #000;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    text-decoration: underline;
    padding: 20px; }
  .faq .preguntas {
    grid-area: preguntas;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    color: #000;
    background-color: #ffffffc5;
    text-align: justify;
    margin: 20px;
    width: 70%;
    overflow: hidden; }
    .faq .preguntas .subtitulos {
      text-align: center;
      font-weight: bold;
      overflow: hidden; }
    .faq .preguntas .tabla {
      table-layout: fixed;
      width: 60vw;
      border-collapse: collapse;
      border: 3px solid #42b877;
      text-align: center; }

.footer {
  background-color: #000;
  border-top-style: groove;
  color: #ffffff;
  font-size: x-small;
  text-align: center;
  width: 100%;
  list-style: none;
  padding: 10px;
  overflow: hidden; }

@media screen and (max-width: 768px) {
  .indexGridFonts {
    font-size: larger; }
  .promos {
    font-size: medium; }
  .about {
    flex-flow: column nowrap;
    align-items: center; }
  .parrafoAbout {
    width: 90%;
    height: 80%; }
  .tabla {
    width: 80%; }
  .article1 {
    align-items: center; }
  .form__btns {
    flex-flow: column wrap; }
  .form__btn {
    display: flex;
    flex-direction: column;
    height: 85vh; }
  .footer {
    height: 10vh; } }
