* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.headerIndex {
  background-image: url(../assets/DSC_24902.JPG);
  background-size: cover;
  height: 100vh;
  background-position-x: center;
  overflow: hidden;
}
.headerIndex .promos {
  background-color: #42b877;
  color: #ffffff;
  text-align: center;
  height: 5vh;
  font-size: auto;
}
.headerIndex .logoIndex {
  height: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ul {
  list-style: none;
  height: 50vh;
  width: 100vw;
  padding: 0;
}
.ul .productosIndex {
  background-image: url(../assets/productos.png);
  background-size: cover;
  background-position-x: center;
}
.ul .productosIndex .indexGridFonts {
  color: #ffffff;
  background-color: rgba(250, 235, 215, 0);
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  font-size: xx-large;
  text-transform: uppercase;
  text-decoration: none;
}
.ul .productosIndex .indexGridFonts:hover {
  color: #42b877;
}
.ul .productosIndex:hover {
  transform: scaleX(1.2);
}
.ul .aboutIndex {
  text-align: center;
  background-image: url(../assets/about2.png);
  background-size: cover;
  background-position-x: center;
}
.ul .aboutIndex .indexGridFonts {
  color: #ffffff;
  background-color: rgba(250, 235, 215, 0);
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  font-size: xx-large;
  text-transform: uppercase;
  text-decoration: none;
}
.ul .aboutIndex .indexGridFonts:hover {
  color: #42b877;
}
.ul .aboutIndex:hover {
  transform: scaleX(1.2);
}
.ul .contactoIndex {
  text-align: center;
  background-image: url(../assets/contacto.png);
  background-size: cover;
  background-position-x: center;
}
.ul .contactoIndex .indexGridFonts {
  color: #ffffff;
  background-color: rgba(250, 235, 215, 0);
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  font-size: xx-large;
  text-transform: uppercase;
  text-decoration: none;
}
.ul .contactoIndex .indexGridFonts:hover {
  color: #42b877;
}
.ul .contactoIndex:hover {
  transform: scaleX(1.2);
}
.ul .faqIndex {
  text-align: center;
  background-image: url(../assets/faq.png);
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}
.ul .faqIndex .indexGridFonts {
  color: #ffffff;
  background-color: rgba(250, 235, 215, 0);
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  font-size: xx-large;
  text-transform: uppercase;
  text-decoration: none;
}
.ul .faqIndex .indexGridFonts:hover {
  color: #42b877;
}
.ul .faqIndex:hover {
  transform: scaleX(1.2);
}

.promos {
  background-color: #42b877;
  color: #ffffff;
  text-align: center;
  height: 5vh;
  font-size: auto;
}

.nav {
  font-size: x-large;
}
.nav .logo {
  width: 50%;
}

.productos {
  background-image: url(../assets/background5.jpg);
}
.productos .h1 {
  color: #000;
  font-weight: bold;
  font-size: xx-large;
  text-align: center;
  text-decoration: underline;
  padding: 20px;
}
.productos .parrafos {
  padding: 20px;
  color: #000;
  background-color: rgba(255, 255, 255, 0.773);
  text-align: justify;
  margin: 20px;
  font-weight: bold;
  font-size: medium;
}
.productos .cards {
  display: grid;
  gap: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 10px;
}
.productos .cards .cards-productos {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 100%;
  width: 250px;
  border-radius: 20px;
  background-color: #ffffff;
  overflow: hidden;
  padding: 10px;
}
.productos .cards .cards-productos .cards-image {
  background-color: #ffffff;
  margin: 10px;
}
.productos .cards .cards-productos .cards-title {
  position: static;
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  color: #000;
  overflow: hidden;
}
.productos .cards .cards-productos .cards-description {
  position: static;
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  color: #000;
  overflow: hidden;
}
.productos .cards .cards-productos .btn-productos {
  position: static;
  width: 150px;
  border-radius: 20px;
  background-color: #42b877;
  text-align: center;
  overflow: hidden;
}

.about {
  height: 100vh;
  background-image: url(../assets/background3.JPG);
  background-size: cover;
  background-position-x: center;
  display: flex;
  flex-flow: column wrap;
  align-content: space-around;
}
.about .hh1 {
  color: #ffffff;
  font-weight: bolder;
  font-size: xx-large;
  text-align: center;
  text-decoration: underline;
  padding: 20px;
}
.about .parrafoAbout {
  padding: 20px;
  color: #000;
  background-color: rgba(255, 255, 255, 0.773);
  text-align: justify;
  font-weight: bold;
  font-size: medium;
  width: 50vw;
}

.contenido__contacto {
  background-image: url(../assets/background2.JPG);
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  background-position-x: center;
  padding: 20px;
  display: flex;
  flex-flow: column wrap;
  align-content: space-around;
}
.contenido__contacto .hh1 {
  color: #ffffff;
  font-weight: bolder;
  font-size: xx-large;
  text-align: center;
  text-decoration: underline;
  padding: 20px;
}
.contenido__contacto .form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  color: #000;
  background-color: rgba(250, 235, 215, 0.512);
  height: 80%;
  width: 65vw;
  padding: 50px;
}
.contenido__contacto .form .article1 {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  justify-items: center;
  background-color: rgba(250, 235, 215, 0);
}
.contenido__contacto .form .article1 .form__datos {
  display: flex;
  flex-flow: column nowrap;
  background-color: rgba(250, 235, 215, 0);
  text-align: center;
  align-items: center;
}
.contenido__contacto .form .form__mensaje {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(250, 235, 215, 0);
}
.contenido__contacto .form .form__mensaje .form__boxes {
  display: flex;
  flex-flow: row;
  background-color: rgba(250, 235, 215, 0);
  justify-content: center;
  align-items: center;
}
.contenido__contacto .form .form__mensaje .form__btns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.contenido__contacto .form .form__mensaje .form__btns .form__btn {
  width: 5vw;
  height: 5vh;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 2px;
  transition: all 0.5s ease;
  overflow: hidden;
}
.contenido__contacto .form .form__mensaje .form__btns .form__btn:hover {
  background: #42b877;
  color: #000;
  box-shadow: 0px 10px 25px #8ecaa9;
}

.faq {
  background-image: url(../assets/background4.JPG);
  background-size: cover;
  background-position-x: center;
  display: flex;
  flex-flow: column wrap;
  align-content: space-around;
}
.faq .h1 {
  color: #000;
  font-weight: bold;
  font-size: xx-large;
  text-align: center;
  text-decoration: underline;
  padding: 20px;
}
.faq .preguntas {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  color: #000;
  background-color: rgba(255, 255, 255, 0.773);
  text-align: justify;
  margin: 20px;
  width: 70%;
  overflow: hidden;
}
.faq .preguntas .h3 {
  text-align: center;
}
.faq .preguntas .tabla {
  table-layout: fixed;
  width: 70%;
  border-collapse: collapse;
  border: 3px solid #42b877;
  text-align: center;
}
.faq .preguntas .h3 {
  text-align: center;
}

.footer {
  background-color: #000;
  border-top-style: groove;
  color: #ffffff;
  font-size: x-small;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .indexGridFonts {
    font-size: larger;
  }

  .promos {
    font-size: medium;
  }

  .parrafoAbout {
    height: 80vh;
  }

  .preguntas {
    font-size: small;
    width: 90%;
    height: 100%;
    margin-top: 0px;
  }

  .table {
    width: 80%;
  }

  .form__btn {
    display: flex;
    flex-direction: column;
    width: 15vw;
    height: 85vh;
  }

  .article1 {
    align-items: center;
  }
}/*# sourceMappingURL=estilos.css.map */