* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden; }

.headerIndex {
  background-image: url(../assets/DSC_24902.JPG);
  background-size: cover;
  height: 100vh;
  background-position-x: center;
  overflow: hidden; }
  .headerIndex .promosIndex {
    background-color: #42b877;
    color: #ffffff;
    height: auto;
    font-size: large;
    text-align: center; }
  .headerIndex .logoIndex {
    height: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto; }

.ul {
  list-style: none;
  height: 50vh;
  width: 100vw;
  padding: 0;
  margin-bottom: 0; }
  .ul .productosIndex {
    background-image: url(../assets/productos.png);
    background-size: cover;
    background-position: center; }
    .ul .productosIndex .indexGridFonts {
      color: #ffffff;
      background-color: #faebd700;
      font-family: 'Poppins', sans-serif;
      font-weight: bolder;
      font-size: auto;
      text-transform: uppercase;
      text-decoration: none; }
      .ul .productosIndex .indexGridFonts:hover {
        color: #42b877; }
    .ul .productosIndex:hover {
      transform: scaleX(1.2); }
  .ul .aboutIndex {
    text-align: center;
    background-image: url(../assets/about2.png);
    background-size: cover;
    background-position-x: center;
    overflow: hidden; }
    .ul .aboutIndex .indexGridFonts {
      color: #ffffff;
      background-color: #faebd700;
      font-family: 'Poppins', sans-serif;
      font-weight: bolder;
      font-size: auto;
      text-transform: uppercase;
      text-decoration: none; }
      .ul .aboutIndex .indexGridFonts:hover {
        color: #42b877; }
    .ul .aboutIndex:hover {
      transform: scaleX(1.2); }
  .ul .contactoIndex {
    text-align: center;
    background-image: url(../assets/contacto.png);
    background-size: cover;
    background-position-x: center; }
    .ul .contactoIndex .indexGridFonts {
      color: #ffffff;
      background-color: #faebd700;
      font-family: 'Poppins', sans-serif;
      font-weight: bolder;
      font-size: auto;
      text-transform: uppercase;
      text-decoration: none; }
      .ul .contactoIndex .indexGridFonts:hover {
        color: #42b877; }
    .ul .contactoIndex:hover {
      transform: scaleX(1.2); }
  .ul .faqIndex {
    text-align: center;
    background-image: url(../assets/faq.png);
    background-size: cover;
    background-position: center;
    overflow: hidden; }
    .ul .faqIndex .indexGridFonts {
      color: #ffffff;
      background-color: #faebd700;
      font-family: 'Poppins', sans-serif;
      font-weight: bolder;
      font-size: auto;
      text-transform: uppercase;
      text-decoration: none; }
      .ul .faqIndex .indexGridFonts:hover {
        color: #42b877; }
    .ul .faqIndex:hover {
      transform: scaleX(1.2); }

.promos {
  background-color: #42b877;
  color: #ffffff;
  text-align: center;
  padding: 5px;
  height: auto;
  font-size: larger;
  overflow: hidden;
  margin-bottom: 0; }

.nav {
  font-size: x-large; }
  .nav .logo {
    width: 50%; }

.productos {
  background-image: url(../assets/background5.jpg); }
  .productos .titulos1, .productos .about .titulos2, .about .productos .titulos2 {
    color: #000;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    text-decoration: underline;
    padding: 5%; }
  .productos .parrafos {
    padding: 20px;
    color: #000;
    background-color: #ffffffc5;
    text-align: center;
    margin: 20px;
    font-size: larger; }
  .productos .cards {
    display: grid;
    gap: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 10px;
    -webkit-animation: fade-in-left 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in-left 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }
    .productos .cards .cards-productos {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      width: 250px;
      height: 450px;
      border-radius: 20px;
      background-color: #ffffff;
      overflow: hidden;
      padding: 10px; }
      .productos .cards .cards-productos .cards-image {
        background-color: #ffffff;
        margin: 10px; }
      .productos .cards .cards-productos .cards-title, .productos .cards .cards-productos .cards-description {
        position: static;
        background-color: #ffffff;
        font-family: 'Poppins', sans-serif;
        color: #000;
        overflow: hidden; }
      .productos .cards .cards-productos .btn-productos {
        position: static;
        width: 150px;
        border-radius: 20px;
        background-color: #42b877;
        text-align: center;
        overflow: hidden; }

.about {
  height: 100%;
  background-image: url(../assets/background3copia.JPG);
  background-size: cover;
  background-position-x: center;
  display: flex;
  flex-flow: column wrap;
  align-content: space-around;
  align-items: center;
  padding: 10px; }
  .about .titulos2 {
    color: #ffffff;
    text-decoration: underline;
    overflow: hidden; }
  .about .parrafoAbout {
    width: 70vw;
    background-color: #ffffffc5;
    text-align: center;
    margin: 20px;
    font-size: medium;
    font-weight: bold;
    padding: 20px; }
  .about .fotos {
    height: 40%;
    width: 45%; }

.contenido__contacto {
  background-image: url(../assets/background2.JPG);
  background-size: cover;
  height: 90%;
  background-repeat: no-repeat;
  background-position-x: center;
  padding: 20px;
  display: flex;
  flex-flow: column wrap;
  align-content: space-around; }
  .contenido__contacto .titulos2 {
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    text-decoration: underline;
    padding: 20px;
    color: #ffffff; }
  .contenido__contacto .form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    color: #000;
    background-color: #faebd783;
    height: 85%;
    padding: 30px; }
    .contenido__contacto .form .article1 {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: space-around;
      justify-items: center;
      background-color: #faebd700; }
      .contenido__contacto .form .article1 .form__datos {
        display: flex;
        flex-flow: column nowrap;
        text-align: center;
        align-items: center;
        background-color: #faebd700; }
    .contenido__contacto .form .form__mensaje {
      display: flex;
      flex-flow: column wrap;
      text-align: center;
      justify-content: space-around;
      align-items: center;
      background-color: #faebd700; }
      .contenido__contacto .form .form__mensaje .form__boxes {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        background-color: #faebd700; }
    .contenido__contacto .form .redesSociales {
      display: flex;
      flex-flow: row nowrap;
      align-items: center; }
      .contenido__contacto .form .redesSociales .icono {
        border-radius: 50%; }
      .contenido__contacto .form .redesSociales .instagram {
        background-color: #e37cea;
        width: 10%;
        height: 5%;
        margin-left: 85%; }
      .contenido__contacto .form .redesSociales .tiktok {
        background-color: #ffffffc6;
        width: 10%;
        height: 5%;
        margin-right: 85%; }

.faq {
  background-image: url(../assets/background4.JPG);
  background-size: cover;
  background-position-x: center;
  display: grid;
  justify-items: center;
  grid-template-areas: "titulo titulo" "preguntas preguntas";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100px 3fr; }
  .faq .titulos1, .faq .about .titulos2, .about .faq .titulos2 {
    grid-area: titulo;
    color: #000;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    text-decoration: underline;
    padding: 20px; }
  .faq .preguntas {
    grid-area: preguntas;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    color: #000;
    background-color: #ffffffc5;
    text-align: justify;
    margin: 20px;
    width: 70%;
    overflow: hidden; }
    .faq .preguntas .subtitulos {
      text-align: center;
      overflow: hidden; }
    .faq .preguntas .tabla {
      table-layout: fixed;
      width: 60vw;
      border-collapse: collapse;
      border: 3px solid #42b877;
      text-align: center; }

.footer {
  background-color: #000;
  border-top-style: groove;
  color: #ffffff;
  font-size: x-small;
  text-align: center;
  padding: 10px;
  height: 5%;
  width: 100%;
  list-style: none;
  overflow: hidden; }
  .footer .contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline; }
    .footer .contenedor .accesos {
      margin-left: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center; }
    .footer .contenedor .copyright {
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
    .footer .contenedor .redes {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center; }

@media screen and (max-width: 768px) {
  .headerIndex {
    background-position: top; }
    .headerIndex .promosIndex {
      overflow: hidden; }
    .headerIndex .promos {
      size: medium; }
  .aboutIndex {
    background-position-y: center; }
  .about {
    flex-flow: column nowrap;
    align-items: center; }
    .about .parrafoAbout {
      width: 90%;
      height: 80%; }
    .about .fotos {
      width: 90%; }
  .tabla {
    width: 80%; }
  .instagram {
    display: none; }
  .tiktok {
    display: none; }
  .footer {
    height: 15vh; }
    .footer .copyright {
      width: 20%; } }
